{%extends "index.html"%}
{%block content%}
    <style>
        @media (min-width: 992px) {
            .about {
                margin-left: 100px;
            }
        }
        @media (max-width: 891px) {
            .about {
                margin-left: 0;
            }
        }
        .about p {
            font-size: 16px;
        }
    </style>
    <div class="about">
        <h1 class="mb-0">
            Chen Jat Sea
        </h1>
        <div class="subheading mb-5">
            (65) 97903955 ·
            <a href="mailto:jschen@gmail.com">jschen90@gmail.com</a>
            <h3 class="mb-0">Aspiring Cloud Engineer</h3>
        </div>
        <p class="lead mb-5">Starting my career in engineering, I developed a strong proficiency in cross-departmental collaboration and problem-solving, crucial for delivering quality solutions on time. I’ve always been fascinated with computers and technology, a passion that began when I built my first computer in the late '90s.</p>
        <p class="lead mb-5">In 2023, I decided to pivot my career towards cloud engineering and enrolled in intensive Skillsfuture Career Transition Programmes. Here, I covered core technical skills combined with hands-on projects including Linux, Python, Git and GitHub, Docker, Ansible, Terraform, Microsoft Azure Fundamental & Administrator.</p>
        <p class="lead mb-5">As an aspiring Cloud Engineer, I am excited to leverage my engineering skills, problem-solving proficiency, customer service experience, and passion for technology to contribute to the field of cloud computing. My journey has been diverse and enriching, and I look forward to bringing my unique perspective to future roles in the cloud engineering space.</p>
    </div>
{%endblock%}