{%extends "index.html"%}
{%block content%}
    <style>
        @media (min-width: 992px) {
            .awards {
                margin-left: 100px;
            }
        }
        @media (max-width: 891px) {
            .awards {
                margin-left: 0;
            }
        }
    </style>
    <div class="awards">
        <h2 class="mb-5">Awards & Certifications</h2>
        <ul class="fa-ul mb-0">
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                Spot Award(UTAC Ltd)
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                Silver Recognition Award(STATS ChipPAC Ltd)
            </li>
            <li><span class="fa-li"><i class="fas fa-circle"></i></span>
                Certification of Completion(Desktop Support Engineer), NTUC LearningHub, 19/6/2023
            </li>
            <li><span class="fa-li"><i class="fas fa-circle"></i></span>
                Personal Effectiveness Supervisory, Kaplan Professional, 20/4/2011
            </li>
            <li><span class="fa-li"><i class="fas fa-circle"></i></span>
                Communication and relationship management-Supervisory, Kaplan Professional, 14/9/2010
            </li>
            <li><span class="fa-li"><i class="fas fa-circle"></i></span>
                Problem-solving and decision making-Supervisory, Kaplan Professional, 22/7/2009
            </li>
        </ul>
    </div>
{%endblock%}