{%extends "index.html"%}
{%block content%}
    <style>
        @media (min-width: 992px) {
            .skills {
                margin-left: 100px;
            }
        }
        @media (max-width: 891px) {
            .skills {
                margin-left: 0;
            }
        }
    </style>
    <div class="skills">
        <h2 class="mb-4">Skills</h2>
        <div class="subheading mb-2">Cloud Support & DevOps(Programming Languages & Tools)</div>
            <ul class="list-inline dev-icons">
                <li class="list-inline-item"></li><i class="devicon-linux-plain"></i>
                <li class="list-inline-item"></li><i class="devicon-python-plain-wordmark"></i>
                <li class="list-inline-item"></li><i class="devicon-terraform-plain-wordmark"></i>
                <li class="list-inline-item"></li><i class="devicon-ansible-plain-wordmark"></i>
                <li class="list-inline-item"></li><i class="devicon-git-plain"></i>
                <li class="list-inline-item"></li><i class="devicon-github-original-wordmark"></i>
                <li class="list-inline-item"></li><i class="devicon-azure-plain"></i>
            </ul>
        <div class="subheading mb-3">IT Support</div>
        <ul class="fa-ul mb-0">
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                CompTIA A+
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                CompTIA NETWORK+
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                ITIL 4 Foundation
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Management and Support of Apple Devices
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Microsoft Windows Client Administration
            </li>
        </ul>
        <p class="mb-5"></p>
        <h2 class="mb-4">Professional Experience</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Generation Singapore</h3>
                <div class="subheading mb-3">Bootcamp(Cloud Support & DevOps)</div>
                <ul>
                    <li>Enrolled in an intensive Skillsfuture Career Transition Programme under Generation Singapore and Microsoft.</li>
                    <li>Acquired core technical skills and hands-on experience with Linux, Python, Git and GitHub, Docker, Ansible, Terraform and Microsoft Azure Fundamental & Administrator.</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">9 Oct 2023 - 16 Jan 2024</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">NTUC LearningHub</h3>
                <div class="subheading mb-3">Bootcamp(Desktop Support Engineer)</div>
                <ul>
                    <li>Enrolled in a Skillsfuture Career Transition Programme in Desktop Support Engineering.</li>
                    <li>Gained practical experience in Microsoft Windows Client and Apple macOS/IOS operating systems, ITIL 4 Foundation, CompTIA A+, and CompTIA Network+ through hands-on experimental learning methods.</li>
                    <li>Capstone Project:</li>
                    <ol>1. Network Design and Implementation: Designed and implemented a small office network using Cisco Packet Tracer. This network connected two segments at the headquarters with a branch office.</ol>
                    <ol>2. Virtual Machine Setup: Set up two virtual machines (VMs), one with Windows and the other with Ubuntu, using Hyper-V. Ensured successful communication between the VMs by enabling them to ping each other.</ol>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">24 Apr 2023 - 19 Jun 2023</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Self-Employed</h3>
                <div class="subheading mb-3">Retail Trader</div>
                <ul>
                    <li>Demonstrated ability to analyse data quickly to recognize trends in a highly dynamic environment.</li>
                    <li>Developed own strategy to determine both an entry and exit point in advance.</li>
                    <li>Practiced effective risk management to minimise the risk and maximise the reward.</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Feb 2014 - Aug 2022</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Heraeus Materials</h3>
                <div class="subheading mb-3">Application Engineer(Research & Development)</div>
                <ul>
                    <li>As the project owner, performed evaluation, data analysis, and Design of Experiments using Minitab software to validate and qualify new products.</li>
                    <li>Interfaced with customers to identify needs, field questions, and ensure requests were fulfilled.</li>
                    <li>Travelled to China and Thailand to liaise and work with customers for urgent issues that required immediate solutions.</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Nov 2011 - Jan 2014</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">United Test and Assembly Center Ltd</h3>
                <div class="subheading mb-3">Qualification Engineer</div>
                <ul>
                    <li>Developed, qualified, and defined specification for new packages/devices.</li>
                    <li>Collaborated with different process teams to improve and characterise the processes to achieve maximum desirable results.</li>
                    <li>Sustained and monitor devices and packages migrated to pre-production and ensure strict enforcement and compliance to set specification and minimise rejects and defects.</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Jun 2002 - Oct 2011</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">STATS ChipPAC Ltd</h3>
                <div class="subheading mb-3">Senior Associate Engineer</div>
                <ul>
                    <li>Responsible for wire bond process line sustaining to achieve maximum uptime.</li>
                    <li>Supported continuous improvement projects and yield improvement programs.</li>
                    <li>Received Silver Recognition Award for contribution as a team member for getting the ‘Supplier of the Year 2001’.</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Jul 2001 - May 2002</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Kulicke & Soffa</h3>
                <div class="subheading mb-3">Associate Application Engineer</div>
                <ul>
                    <li>Customized equipment according to customer requirement, participated in implementing tooling design improvement.</li>
                    <li>Interfaced with customers to identify needs, field questions, and ensure requests were fulfilled.</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Jul 2000 - Jun 2001</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Panasonic Semiconductor Singapore</h3>
                <div class="subheading mb-3">Engineering Specialist</div>
                <ul>
                    <li>Responsible for cost reduction projects in area consists of wafer saw, die attach, and wire bond.</li>
                    <li>Played a key role in reducing assembly front-of-line processes thus improving cycle time.</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Jul 1995 - Jun 2000</span></div>
        </div>
        <p class="mb-5"></p>
        <h2 class="mb-4">Education</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Singapore Polytechnic</h3>
                <div class="subheading mb-3">Advanced Diploma in Multimedia Development</div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">1999</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Ngee Ann Polytechnic</h3>
                <div class="subheading mb-3">Diploma in Mechanical Engineering</div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">1995</span></div>
        </div>

    </div>
{%endblock%}