{%extends "index.html"%}
{%block content%}
    <div class="skills">
        <h2 class="mb-5">Skills</h2>
        <div class="subheading mb-3">Programming Languages & Tools</div>
            <ul class="list-inline dev-icons">
                <li class="list-inline-item"></li><i class="devicon-linux-plain"></i>
                <li class="list-inline-item"></li><i class="devicon-python-plain-wordmark"></i>
                <li class="list-inline-item"></li><i class="devicon-terraform-plain-wordmark"></i>
                <li class="list-inline-item"></li><i class="devicon-ansible-plain-wordmark"></i>
                <li class="list-inline-item"></li><i class="devicon-azure-plain-wordmark"></i>

            </ul>
        </div>
    </div>
{%endblock%}