{%extends "index.html"%}
{%block content%}
    <style>
        @media (min-width: 992px) {
            .skills {
                margin-left: 100px;
            }
        }
        @media (max-width: 891px) {
            .skills {
                margin-left: 0;
            }
        }
    </style>
    <div class="skills">
        <h2 class="mb-5">Skills</h2>
        <div class="subheading mb-3">Cloud Support & DevOps(Programming Languages & Tools)</div>
            <ul class="list-inline dev-icons">
                <li class="list-inline-item"></li><i class="devicon-linux-plain"></i>
                <li class="list-inline-item"></li><i class="devicon-python-plain-wordmark"></i>
                <li class="list-inline-item"></li><i class="devicon-terraform-plain-wordmark"></i>
                <li class="list-inline-item"></li><i class="devicon-ansible-plain-wordmark"></i>
                <li class="list-inline-item"></li><i class="devicon-git-plain"></i>
                <li class="list-inline-item"></li><i class="devicon-github-original-wordmark"></i>
                <li class="list-inline-item"></li><i class="devicon-azure-plain"></i>
            </ul>
        <div class="subheading mb-3"></div>
        <h2 class="mb-5">Experience(WIP)</h2>
        </div>

    </div>
{%endblock%}